.form-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  padding: 2rem 2.5rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#background {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: #202020;
}

#background > .smoke {
  bottom: -200px;
  background: url(/Smoke10.png) transparent no-repeat 0 0;
  height: 200px;
  width: 200px;
  position: absolute;
  margin: -100px 0 0 -100px;
  background-size: contain;
  opacity: 0;
  animation-name: smoking;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes smoking {
  0% {
    opacity: 0.1;
    bottom: -200px;
    transform: scale(1) rotateZ(0);
  }
  20% {
    opacity: 1;
  }
  90% {
    bottom: 65%;
    opacity: 0.8;
    transform: scale(2.7) rotateZ(18deg);
  }
  100% {
    bottom: 70%;
    opacity: 0;
    transform: scale(3) rotateZ(20deg);
  }
}
